    <footer class='footer'>
        <div class="container">
            <p class="text-muted">&copy; LivinAdventures 2017 | <a href="/adventures">Home</a> | <a href="/adventures/new">New Adventure</a></p>
        </div>
    </footer>
    </body>
</html>