<% include ../partials/header %>

<div id='banner'>
    <div class='container'>
        <h1>Welcome to LivinAdventures!</h1>
        <h4>Live Out Your Adventures With Your Friends!</h4>
        
        <div class='searchBar-wrapper'>
            <div class='searchBarBtn'>
                <div class='searchBox'>
                    <form action='/adventures' method='GET' class='form-inline' id='adventure-search'>
                        <div class='form-group'>
                            <input id="searchKeyword" type='text' name='search' placeholder='Adventure search...' class='form-control'>
                        </div>
                    </form>
                </div>
                <div class='adventureBtn'>
                    <a id='btnKeyword' class='btn btn-primary btn-large' href='/adventures/new'>Add New Adventure</a>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class='container adventuresThumbnail'>   
    <div class='row text-center flex-wrap' id='adventure-grid'>
        <% adventures.forEach(function(adventure){ %>
            <div class='col-md-3 col-sm-6'>
                <div class='thumbnail'>
                    <img src="<%= adventure.image %>">
                    <div class='caption'>
                        <h4><%= adventure.name %></h4>
                    </div>
                    <p>
                        <a href='/adventures/<%= adventure._id%>' class='btn btn-primary'>More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>